Repository lurak/wiki_BDP_project, pull requests merged in 2021-06, with the labels that each got.

#9 add diagram
  .gitignore
  README.md
  documentation/pictures/DB_schema.png
Labels: database, documentation

#10 config django
  wiki_api/manage.py
  wiki_api/pages/__init__.py
  wiki_api/pages/admin.py
  wiki_api/pages/apps.py
  wiki_api/pages/migrations/__init__.py
  wiki_api/pages/models.py
  wiki_api/pages/tests.py
  wiki_api/pages/views.py
  wiki_api/wiki_api/__init__.py
  wiki_api/wiki_api/asgi.py
  wiki_api/wiki_api/settings.py
  wiki_api/wiki_api/urls.py
  wiki_api/wiki_api/wsgi.py
Labels: API

#11 Kafka Reader and DB inserter
  consumer.py
  data_reader.py
  database_inserter.py
  example.json
  spark_processing.py
Labels: backend, database

#13 Django models and views
  README.md
  wiki_api/pages/migrations/0001_initial.py
  wiki_api/pages/models.py
  wiki_api/pages/serialize.py
  wiki_api/pages/urls.py
  wiki_api/pages/views.py
  wiki_api/wiki_api/settings.py
  wiki_api/wiki_api/urls.py
Labels: API, database

#18 Make reports views + doc strings
  wiki_api/bigdataproject-316515-a0d5568146f9.json
  wiki_api/pages/models.py
  wiki_api/pages/reports_urls.py
  wiki_api/pages/reports_view.py
  wiki_api/pages/tests.py
  wiki_api/pages/views.py
  wiki_api/wiki_api/urls.py
Labels: API, backend, database, documentation

#19 Added Batch Processing, Updated streaming, data reader
  batch_processing.py
  data_reader.py
  spark_processing.py
Labels: backend, database

#21 Make diagram
  README.md
  documentation/diagrams/DB_schema.png
  documentation/diagrams/Diagram.png
  documentation/pictures/DB_schema.png
  wiki_api/pages/migrations/0001_initial.py
Labels: documentation
